body {
  background: white;
  margin: 20px 0;
  padding: 10px;
  background-image:  url('../img/giftly.png');
}

img {
	border-radius: 30px;
	margin-left: 40px;
}

h1 {
	font-family: 'Gochi Hand', cursive;
	font-size: 36px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  resize: both;
  overflow: auto;
  margin-top: 30px;
}

.menu {
  font-family: 'Gochi Hand', cursive;
  font-size: 26px;
  border-bottom: 1px solid #D7D5CC;
  padding-bottom: 20px;
  margin-top: -10px;
}

.menu a {
  margin-left :5%;
}

.menu a:last-child {
  float:right; 
  margin-right :5%; 
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  resize: both;
  overflow: auto;
}

@media (max-width: 636px) {
  img {
    width: 70%;
  }
  h1 {
    font-size: 26px;
    margin-left: 36px;
  }
}

@media (max-width: 460px) {
  h1 {
    font-size: 26px;
  }
  .menu {
    font-size: 16px;  
  }
}